.main_block {
  background: url(../img/img_general.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 200px;
  height: 70px;
}

.img_logo {
  margin-right: 50px;
}

.work_hours p {
  margin: 10px 30px;
  width: 180px;
}

.work_adress p {
  width: 170px;
  line-height: 22px;
}

nav {
  height: 55px;
  display: flex;
  justify-content: space-between;
  background-color: #131313;
  opacity: 0.9;
}

nav a {
  color: antiquewhite;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 95px;
  font-size: 28px;
}

.a_gallery {
  margin-left: 190px;
}

section {
  background-color: #28282b;
  height: auto;
}

.footer {  
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 20px;  
}