main {
  position: relative;
  width: 100%;
  height: 406px;
}

main .button {
  position: absolute;
  border-radius: 18px;
  top: 90px;
  right: 65px;
  padding: 10px 20px;
  background-color: #a13e2a;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  border: 0;
  outline: 0;
}

main .h1 {
  position: absolute;
  top: 90px;
  left: 15px;
  padding: 10px 20px;
  color: #a13e2a;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
}
main .main_span {
  top: 300px;
  left: 100px;
  margin-left: 15px;
  color: #a13e2a;
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
}

main .entrust {
  position: absolute;
  top: 250px;
  left: 200px;
  padding: 10px 20px;
  color: #a13e2a;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

main .entrust_2 {
  position: absolute;
  top: 300px;
  left: 450px;
  color: #b8b0b0;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2.6em;
  margin-bottom: 50px;
}

.category {
  display: flex;
  justify-content: space-between;
  margin: 0 90px 40px 125px;
  font-size: 1.3em;
}

.engine_group {
  padding-left: 110px;
}

.services_block,
.services_block_2 {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 90px 10px;
  font-size: 1.1em;
}

span img {
  margin: 0 15px;
}

h4 {
  display: flex;
  align-items: center;
}

