body {
  color: #333;
  font-family: "Arial", "Helvetica", sans-serif;
}

h1 {
  font-style: italic;
}

a {
  color: #00f;
  text-decoration: underline;
}

a:visited {
  color: #005;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.position {
  font-weight: bold;
  font-size: 1.60em;
  display: block;
  border-bottom: 1px solid red;
}

ul {
  list-style-type: none;
  padding: 10;
}

ul li {
  position: relative;
  padding-left: 20px;
}

ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #333;
}

.bottom {
  display: block;
  border-bottom: 1px solid red;
}

img {
  border: 2px solid rgb(0, 229, 255);
  padding: 10px;
}

table {
  background-color: #99e89f;
}

th {
  background-color: #46f354;
}